<p>employee works!</p>
<div class="container">
    <table>
        <thead>
            <th>id</th>
            <th>Name</th>
            <th>salary</th>
            <th>gender</th>
        </thead>
        
        <tbody>
            <tr *ngFor="let emp of employee;let i=index">
                <td>{{emp.id}}</td>
                <td>{{emp.name | mypipe:emp.gender}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
            </tr>
        </tbody>

    </table>






</div>