<p>formbuilder-form works!</p>

<div class="container">
    <form [formGroup]="userRegForm" (ngSubmit)="save()">
        <div class="mb-3">
            <label for="id1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="id2" formControlName="firstName">
            <div *ngIf="firstName?.touched || firstName?.dirty">
                <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['required']">
                    It is required field
                </div>
                <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['minlength']">
                    minimum 4 characaters are required
                </div>
                <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['maxlength']">
                    maximum 10 characaters are required
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="id2" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="id2" formControlName="lastName">
            <div *ngIf="lastName?.touched || lastName?.dirty">
                <div class="invalid-feedback d-block" *ngIf="lastName?.errors?.['required']">
                    It is required field
                </div>
                <div class="invalid-feedback d-block" *ngIf="lastName?.errors?.['minlength']">
                    minimum 4 characaters are required
                </div>
                <!-- <div class="invalid-feedback d-block"></div> -->

            </div>
        </div>
        <div class="mb-3">
            <label for="id3" class="form-label">Mobile No</label>
            <input type="text" class="form-control" id="3" formControlName="mobileNo">
            <div *ngIf="mobileNo?.touched|| mobileNo?.dirty">
                <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['required']">
                    It is required field
                </div>
                <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['minlength']">
                    minimum 10 digits are required
                </div>
                <div class="invalid-feedback d-block" *ngIf="mobileNo?.errors?.['maxlength']">

                </div>

            </div>

        </div>


        <button type="submit" [disabled]="userRegForm.invalid" class="btn btn-primary">Submit</button>
    </form>




</div>