<!-- <p>reactive-form works!</p>

<div class="container mt-5">
    <form [formGroup]="userRegForm" (ngSubmit)="save()">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="id1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="id1" formControlName="firstName"> -->
                <!-- <div *ngIf="userRegForm.get('firstName')?.touched || userRegForm.get('firstName')?.dirty">
                    <div class="invalid-feedback d-block" *ngIf="userRegForm.get('firstName')?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="userRegForm.get('firstName')?.errors?.['minlength']">
                        Minimum 4 characters are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="userRegForm.get('firstName')?.errors?.['maxlength']">
                        max 10 characters are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="userRegForm.get('firstName')?.errors?.['pattern']">
                        Please enter the valid name
                    </div>
                </div> -->
                <!-- <div *ngIf="firstName?.touched || firstName?.dirty">
                    <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['minlength']">
                        Minimum 5 characters are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['maxlength']">
                        max 10 characters are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="firstName?.errors?.['pattern']">
                        Please enter the valid name
                    </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <label for="id2" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="id2" formControlName="LastName">
                <div *ngIf="LastName?.touched || LastName?.dirty">
                    <div class="invalid-feedback d-block" *ngIf="LastName?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="LastName?.errors?.['minlength']">
                        Minimum 5 characters are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="LastName?.errors?.['maxlength']">
                        Maximum 10 characters are required
                    </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <label for="id3" class="form-label">Mobile No</label>
                <input type="text" class="form-control" id="id3" formControlName="MobileNo">
                <div *ngIf="MobileNo?.touched || MobileNo?.dirty">
                    <div class="invalid-feedback d-block" *ngIf="MobileNo?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="MobileNo?.errors?.['minlength']">
                        Minimum 10 numbers are required
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="MobileNo?.errors?.['maxlength']">
                        Please enter the 10 digits
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="id3" class="form-label">Email Address</label>
                <input type="text" class="form-control" id="id3" formControlName="Email">
                <div *ngIf="Email?.touched || Email?.dirty">
                    <div class="invalid-feedback d-block" *ngIf="Email?.errors?.['required']">
                        It is required field
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="Email?.errors?.['email']">
                        give the correct Email
                    </div>

                </div>
            </div>
        </div>
        <button type="button" [disabled]="userRegForm.invalid" class="btn btn-primary">Submit</button>

        <!-- <button type="button"  class="btn btn-primary ms-2" (click)="setData()">Set Data</button>
        <button type="button" class="btn btn-primary ms-2" (click)="pathchData()">Patch Data</button>
        <button type="button" class="btn btn-primary ms-2" (click)="resetData()">Reset Data</button> -->
<!-- 
    </form>
</div> --> -->