<!-- <div class="container home-container border shadow mt-2 p-2">


  <form>
    <div class="mb-3">
      <label for="id1" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="id1" name="pname" [(ngModel)]="productModal.productName">
    </div>
    <div class="mb-3">
      <label for="id2" class="form-label">Price</label>
      <input type="text" class="form-control" id="id2" name="price" [(ngModel)]="productModal.price"
        (ngModelChange)="calculateTotalPrice()">
    </div>
    <div class="mb-3">
      <label for="id4" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="id4" name="quan" [(ngModel)]="productModal.quantity"
        (ngModelChange)="calculateTotalPrice()">
    </div>
    <div class="mb-3">
      <label for="id5" class="form-label">Discount</label>
      <input type="text" class="form-control" id="id5" name="dis" [(ngModel)]="productModal.discount"
        (ngModelChange)="calculateTotalPrice()">
    </div>

    <p class="fs-6 fw-bold">Total Price of the product Is :{{productModal.totalPrice}}</p>
    <button type="submit" class="btn btn-primary mb-2" (click)="calculateTotalPrice()">Calculate</button>

    <button type="submit" class="btn btn-primary mb-2 ms-2" (click)="reset()">Reset</button>

  </form>

</div> -->

<!-- <app-product></app-product> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-formbuilder-form></app-formbuilder-form> -->
<!-- <app-employee></app-employee> -->

<!-- <app-main></app-main> -->

<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/booking-list">Booking-List</a>
  </li>



</ul> -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/men">Men</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/women">Women</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/kids">Kids</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/beauty">Beauty</a>
  </li>
</ul>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/hotels">Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/flights">Flights</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/buses">Buses</a>
  </li>
</ul>









<router-outlet></router-outlet>